
<template name="addcontent">
  <div class="pageWrapper"> 
    <div class="row">
     <div class="col-sm-12">
       <h2 class="text-center">Add Content</h2>
        <div class="download"> 
        </div>

        <div class="col-sm-12">
            <h4>upload photo</h4>
        </div>

        <div class="col-sm-12">
            <h4>Title</h4>
          <input class="form-control-b" id="style_login_a">
        </div>

        <div class="col-sm-12">
            <h4>Your text</h4>
          <textarea class="form-control" id="style_login_a" rows="6"></textarea>
        </div>

        <div class="col-sm-12">
             <div class="space-top-content">
          <textarea class="form-control" id="style_login_a" rows="6"></textarea>
           </div>
        </div>

        <div class="col-sm-12">
          <img src="/img/tag-mobile.png" class="img-responsive center-block spacetop-content-mobile"/>
        </div>

        <h2 class="text-center">Selected layout</h2>

            <div class="col-sm-12">
              <img src="/img/img-5.png" class="img-thumbnail center-block" alt="Cinque Terre"
               width="304" height="250">
            </div>

            <div class="col-sm-12">
              <img src="/img/img-5.png" class="img-thumbnail center-block" alt="Cinque Terre"
              width="304" height="250">
            </div>

            <div class="col-sm-12">
              <img src="/img/img-5.png" class="img-thumbnail center-block" alt="Cinque Terre"
              width="304" height="250">
            </div>
             
            <div class="col-sm-12">
              <div class="text-center">       
                  <button class="btn_login_a left">Preview</button>
                  <button class="btn_login_a right">Submit</button>
              </div>
            </div>        
         </div>    
    </div>
    
    <img src="/img/border-login.png" class="img-responsive center-block space-img-login"/>

    <div class="col-sm-12">
        <div class="text-center">
            <button class="btn_login_b">Submit with an admin layout</button>
        </div>
    </div>
  </div>
</template>