

<template name="home">
  <!-- page wrapper starts -->
  <div class="pageWrapper"> 
    <div class="col-xs-12">
		<div class="items">
			<div class="thumbnail bg_fashion5">			
				<img data-holder-rendered="true" src="/img/img-4.png" style="height: auto; width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200"> 
				<span class="caption pull-right ">Fashion</span>
				<div class="caption"> 
					<h3>Title</h3> 
					<p>Beginning of the texte</p> 
				</div>
			</div>
		</div>
		<div class="items">
			<div class="thumbnail bg_lifestyle1">			
				<img data-holder-rendered="true" src="/img/img-5.png" style="height: auto; width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200"> 
				<span class="caption pull-right ">Fashion</span>
				<div class="caption"> 
					<h3>Title</h3> 
					<p>Beginning of the texte</p> 
				</div>
			</div>
		</div>
    </div>
  </div>
  <!-- page wrapper ends -->
</template>
