
<template name="titleimg">
 
 <div class="pageWrapper"> 
     <div class="container">
          <h1 class="text-top-slider">Titre</h1>
     </div>
	  <div class="row">
	    <div class="col-sm-12 bg-title-img">
	     <img src="/img/img-title.png" class="img-responsive center-block spacetop-title-img">

	      <div class="col-sm-1"></div>
	       <div class="col-sm-10">
	         <p class="space-text-tilte">all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the </p>
	       </div>
	       <div class="col-sm-1"></div>
	     </div>

	       <div class="col-sm-12">
	      <div class="col-sm-1"></div>
	       <div class="col-sm-10">
	         <p class="space-text-tilte">all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the 
	         </p>
	       </div>
	       <div class="col-sm-1"></div>
	     </div>

	    <div class="col-sm-12">
	      <div class="col-sm-1"></div>
	       <div class="col-sm-10">
	         <p class="space-text-tilte">all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the text all the </p>
	       </div>
	       <div class="col-sm-1"></div>
	     </div>

	    <div class="container">
	      <img src="/img/img-title1.png" class="img-responsive space-title-img center-block">
	      <img src="/img/img-title2.png" class="img-responsive center-block">
	    </div>
	 </div>
    </div> 
	
</template>
