/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Custom CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* title img*/
.space-title-img{
    margin-top:30px;
    margin-bottom:50px;
}

.bg-title-img{
    background: url("/img/bg-title-img1.png") no-repeat center;
}

