<template name="header">
  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a class="mainLogo" href="#"><img src="/img/common/logo-01.png" alt=""/></a> <a href="" class="mainMenuButton"></a> </div>

    <ul class="mainMenuWrapper">
	  <li><a href="#">
		<div class="input-group input-group-unstyled">
			<span class="input-group-addon">
				<i class="fa fa-search fa-2x"></i>
			</span>
			<input type="text" class="form-control" placeholder="Search" id="inputGroup"/>
		</div>
	  </a></li>
	  <li><a href="#">Login / Logout</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Lifestyle</a> </li>
      <li><a href="#">Beauty</a></li>
      <li><a href="#">Fashion</a></li>
      <li class="currentPage"><a href="#">Add Content</a></li>
    </ul>
  </div>
  <!-- header wrapper ends --> 
</template>